.square{ 
    background-color:rgba(235,203,225);
    border:1px solid rgb(235,203,220);
    border-radius: 5px;
    text-align:center;
    margin-left: 5px;
    box-shadow: 0 10px 15px rgb(235,203,220); 
}

#cake-sizes{display:flex;
    justify-content: center;
    align-items: center;
}

#cake-heading,#prices{
    
        width:80%;
        display: block;
        margin:0 auto;
        position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align:center;
}

.fluffy{width:20%;
    height:80%;
    padding-right: 5px;
    
}

.label{
    background-color:rgb(236, 154, 198);
}

#wa,#call{width: 6%;
    height: 6%;}

    #contact-us{
        
        text-align:center;}

        .details{
            text-align: left;
        
}
.boxes{
    display:block;
    margin:0 auto;
    position: relative;
}

#cake-logo{
    width:12%;
    height:12%;
    position: relative;
}

a{text-decoration: none;
    color: deeppink;}
    a:hover{text-decoration: underline;
    color:purple}

    nav li{
        font-family: cursive;
        font-size:32px;
        float:left;
    }

    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:200%;
        position: relative;}

        #header{width:100%;
            position: relative;
            background-color: rgb(190, 186, 189);
            top:0px;
            left:0px;
            right:0px;
     }

     footer{
                background-color: rgb(190, 186, 189);
                position: absolute;
                left: 0%;
                right: 0%;
     }
     footer li{
         margin-top:15px;
        float: right;
        padding-right:10px;
        
        
    }
    #p{padding-left: 10px;
    }
